<html>
<head>
    <title>Rankings</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Who Rules?</h1>
        <table class="rankings">
            <thead>
                <tr>
                    <th colspan="3"><%= results[0].gameName %></th>
                </tr>
            </thead>
            <tbody>
                <% for(let j=0; j < results.length; j++){ %>
                <tr>
                    <td><%= j+1 %></td>
                    <td><%= results[j].player %></td>
                    <td><%= results[j].wins %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>